# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
build-spectrum-Desktop_Qt_5_7_0_MinGW_32bit-Debug/
build-spectrum-Desktop_Qt_5_7_0_MinGW_32bit-Release/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk