# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/
build-spectrum-MinGW-Release/
build-spectrum-MinGW-Release/
# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk